*{
    margin:0;
    padding:0;
    border:none;
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline:none;
    transition:.2s all linear;
}
body{
    background: linear-gradient(90deg,#1e71ba,#3cbdfa);
}
.container{
    margin: auto;
    max-width: 90vw;
    width: 640px;
}
form{
    margin:2rem 0;
}
.box{
    border-radius:10px;
    margin:.7rem 0;
    padding:1.5rem 2rem;
    background:#ffffff;
}
h1{
    font-size:2rem;
    margin-bottom:1rem;
}
.box p{
    font-size:1.2rem;
    margin-bottom:1.5rem;
    font-weight:500;
}
.required{
    color:red;
}
.text{
    width:50%;
    min-width:250px;
    padding:.5em 0;
    border-bottom:1px #c0c0c0 solid;
}
.text:focus-visible{
    border-bottom:1px solid #333333;
}
input[type=checkbox],input[type=radio]{
    margin-bottom:1em;
}
input[type=submit]{
    padding:.5em 1.5em;
    cursor:pointer;
    background:#003d72;
    color:#ffffff;
    font-size:1.2rem;
    font-weight:500;
    border-radius:10px;
}
input[type=reset]{
    float:right;
    padding:.5em 1em;
    cursor:pointer;
    font-size:1.2rem;
    font-weight:500;
    background:transparent;
    color:#003d72;
}