*{
    margin:0;
    padding:0;
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #bb7474;
}
.container{
    margin: auto;
    max-width: 90vw;
    width: 640px;
}
.box{
    border-radius:10px;
    margin:.7rem 0;
    padding:1.5rem 2rem;
    background:#ffffff;
}
h1{
    font-size:2rem;
    margin-bottom:1rem;
}
.box p{
    font-size:1.2rem;
    margin-bottom:1.5rem;
    font-weight:500;
}
.required{
    color:red;
}
input{
    width:50%;
    padding:.5em 0;
    border-bottom:1px #c0c0c0 solid;
}